<%- include('includes/header', {logedout: true})%>

<form>
  <span>Request new password:</span><br />
  <label for="username">Username</label>
  <input id="username" type="text" name="username" />
  <button hx-post="/forgot-password" hx-target="body">Submit</button>
</form>

<% if(typeof message != "undefined") {%> <%= message %> <% } %> <%- include('includes/footer')%>
