<%- include('includes/header')%>
<body>
  <form action="/login" method="POST">
    <label for="username">Username:</label><br />
    <input type="text" name="username" id="username" value="<%= typeof username != 'undefined' ? username : '' %>" /><br />
    <label for="password">Password:</label><br />
    <input type="password" name="password" id="password" /><br /><br />
    <input type="submit" value="Submit" /><br /><br />

    <a href="/registration">Registarion</a>
  </form>

  <% if(typeof errors != 'undefined'){ errors.forEach(error=>{%>
  <span><%= error %></span><br />
  <%}) }%>
</body>

<%- include('includes/footer')%>
