<%- include('includes/header', {logedout: true})%>
<br />
<form>
  <label for="password">New password:</label><br />
  <input type="password" name="password" id="password" /><br />
  <label for="passwordConfirmation">Confirm new password:</label><br />
  <input type="password" name="passwordConfirmation" id="passwordConfirmation" /><br />
  <button id="sendButton" hx-post="" hx-target="body">Send</button>
  <script>
    const sendButton = document.getElementById("sendButton")
    const currentUrl = window.location.pathname

    sendButton.setAttribute("hx-post", currentUrl)
  </script>
</form>
<% if(typeof messages != "undefined"){ messages.forEach(message =>{%> <%= message %> <br />
<% }) } %> <%- include('includes/footer')%>
