<%- include('includes/header')%>
<div>
  <form>
    <input type="datetime-local" name="deadline" id="deadline" />
    <input type="text" name="new-todo" id="new-todo" placeholder="ToDo description" />
    <button hx-post="/add-todo" hx-target="body">Add ToDo</button>
  </form>
</div>
<br />

<% if(typeof todos != 'undefined'){ todos.forEach(todo=>{%> <%- include('includes/todo', {todo, editable: false})%> <%}) }%> <%- include('includes/footer')%>
